<!doctype html>


<html>
<head>
    <meta charset="utf-8">
    <title>Fred的个人网站-只要还有明天，今天永远都是起跑线</title>
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <meta name="keywords" content="个人网站，个人博客，个人日记，Fred的个人网站"/>
    <meta name="description" content="Fred个人网站-只要还有明天，今天永远都是起跑线"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static('css/base.css') }}" rel="stylesheet">
    <link href="{{ static('css/m.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ static('js/vue-2.5.16.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
    <script src="{{ static('js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ static('js/comm.js') }}"></script>
    <script src="{{ static('js/mouse.js') }}"></script>
    <link rel="stylesheet" href="{{ static('layui/css/layui.css') }}" media="all">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type='text/javascript' src="{{ static('layui/layui.js') }}"></script>
    {% block link %}
    {% endblock link %}
    <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
    <!--top begin-->
    <header id="header">
        <div class="navbox">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <div class="logo"><a href={{ url('index:index_list') }}><img src="{{ static('images/logo.png') }}" alt=""></a></div>
            <nav>
                <ul id="starlist">
                    <li><a href={{ url('index:index_list') }}>首页</a></li>
                    {% for cat in cat_list %}
                        <li class="menu"><a
                                href="{{ url('article:category_list', args=(cat.id, 1)) }}">{{ cat.name }}</a>
                            <ul class="sub">
                                {% for sub in cat.subs %}
                                    <li>
                                        <a href="{{ url('article:category_list', args=(sub.id, 1)) }}">{{ sub.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <span></span>
                        </li>
                    {% endfor %}
                    <li class="menu"><a href="{{ url('photo:all_groups', args=(1,)) }}">相册</a>
                        <ul class="sub">
                            {% for category in photo_category %}
                                <li>
                                    <a href="{{ url('photo:category_group', args=(category.id, 1)) }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <span></span></li>
                    <li><a href='{{ url('article:article', args=(1,)) }}'>文章归档</a></li>
                    <li><a href={{ url('links:list') }}>友情链接</a></li>
                    <li><a href={{ url('user:about') }}>关于我</a></li>
                    {# <li><a href="/comment" target="_blank">留言</a></li> #}
                </ul>
            </nav>
            <div class="searchico"></div>
        </div>
    </header>
    <div class="searchbox">
        <div class="search">
            <form action="/search/" method="get" name="searchform" id="searchform">
                <input name="q" id="keyboard" class="input_text" value="输入你想要搜索的文章"
                       style="color: rgb(153, 153, 153);"
                       onFocus="if(value=='输入你想要搜索的文章'){this.style.color='#000';value=''}"
                       onBlur="if(value==''){this.style.color='#999';value='输入你想要搜索的文章'}" type="text">
                <input class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="searchclose"></div>
    </div>
    <!--top end-->
    <article>
    {% block article %}
    {% endblock article %}
        <div class="rbox">

            {% block card %}
            {% endblock card %}

            {% block notice %}
            {% endblock notice %}

            {% block tabel %}
            <div class="whitebg paihang">
                <h2 class="htitle">点击排行</h2>
                <ul>
                    {% for article in top_list %}
                         <li><i></i><a href="/article/detail/{{ article.id }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="whitebg tuijian">
                <h2 class="htitle">站长推荐</h2>
                <ul>
                    {% for article in recommend_list %}
                        <li><a href="/article/detail/{{ article.id }}"><i><img src="{{ article.index_image }}"></i><p>{{ article.title }}</p></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="whitebg cloud">
                <h2 class="htitle">标签云</h2>
                <ul>
                    {% for label in labels %}
                        <a href="/label/articles/{{ label.id }}/1" target="_blank"> {{ label.name }}({{ label.article_count }})</a>
                    {% endfor %}
                </ul>
            </div>
            {% endblock tabel %}

            {% block siteinfo %}
            {% endblock siteinfo %}
        </div>

    </article>
       <footer>
        <div class="box">
            <div class="endnav">
                <p><b>关于本站：</b></p>
                <p>基于Django构建｜托管于阿里云｜阿里云OSS </p>
                <p>Copyright @ Fred的个人网站 保留所有权利｜备案号：<a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备20007936号-1</a></p>
            </div>
        </div>
        <a href="#">
            <div class="top"></div>
        </a>
    </footer>
</body>
{% block endjs %}
{% endblock endjs %}
</html>
