{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ static('css/myPagination.css') }}">
<script src="{{ static('js/myPagination.js') }}"></script>
<script src="{{ static('js/page.js') }}"></script>
{% endblock link %}

{% block article %}
            <div class="whitebg about">
        <div><h2 class="gd_title">照片墙</h2></div>
        <ul class="xinlu" style="overflow: hidden">
            {% for photo_group in photo_groups %}
                <li>
                    <a href="{{ url('photo:photos', args=(photo_group.id,)) }}" target="_blank"><i><img src="{{ photo_group.index_image }}"></i>
                        <p>{{ photo_group.title }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if photo_groups %}
            <div id="pagination" class="pagination" style="margin:0 auto;text-align: center"></div>
        {% endif %}
    </div>
{% endblock article %}
{% block tabel %}
{% endblock tabel %}

{% block endjs %}
        <script>
            window.onload = function () {
                new myPagination({
                    id: 'pagination',
                    curPage: {{ page_num }}, //初始页码
                    pageTotal: {{ total_page }}, //总页数
                    pageAmount: 16,  //每页多少条
                    dataTotal: {{ photo_group_count }}, //总共多少条数据
                    pageSize: 3, //可选,分页个数
                    showPageTotalFlag: true, //是否显示数据统计
                    showSkipInputFlag: true, //是否支持跳转
                    getPage: function (page) {
                        //获取当前页数
                        {#console.log(page);#}
                        // 点击之后跳转:
                        location.href = '/photo/category/groups/' + {{ category_id }}+ '/'+ page + '/';
                    }
                })

            }
        </script>
{% endblock endjs %}
