<!DOCTYPE HTML>
<html>
<head>
    <title>出错了-Fred的个人网站</title>
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ static('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ static('css/noscript.css') }}"/>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>{{ code }}</h1>
                <p><!--[-->{{ msg }}<!--]--></p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="mailto:ltfred@163.com">联系</a></li>
                <!--<li><a href="#elements">Elements</a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Main -->


    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="/">Fred的个人网站</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ static('s/jquery.min.js') }}j"></script>
<script src="{{ static('js/skel.min.js') }}"></script>
<script src="{{ static('js/util.js') }}"></script>
<script src="{{ static('js/main.js') }}"></script>

</body>
</html>
