
{% extends 'base.html' %}

{% block link %}
    <script src="{{ static('lib/prism/prism_patched.min.js') }}"></script>
    <script src="{{ static('js/csrf.js') }}"></script>
    <link rel="stylesheet" href="{{ static('prism/prism.css') }}">
{% endblock link %}

{% block article %}
    <div class="lbox">
            <div class="content_box whitebg">
                <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="{{ url('index:index_list') }}">网站首页</a>><a
                        href="{{ url('article:category_list', args=(article.category1.id,1 )) }}">{{ article.category1.name }}></a><a
                        href="{{ url('article:category_list', args=(article.category2.id, 1)) }}">{{ article.category2.name }}</a></span>个人网站
                </h2>
                <h1 class="con_tilte">{{ article.title }}</h1>
                <p class="bloginfo"><i class="avatar"><img
                        src="{{ article.author.avatar_url }}"></i><span>{{ article.author.webname }}</span><span>{{ article.create_time | time_filter }}</span><span>【<a
                        href="{{ url('article:category_list', args=(article.category2.id, 1)) }}">{{ article.category2.name }}</a>】</span><span>{{ article.read_count }}人已围观</span>
                </p>
                <p class="con_info"><b>简介</b>个人网站，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，也会放上一些照片。后来也用来记录自己所学习的知识。
                </p>
                <div class="con_text">
                    <div class="highlight">
                        {{ article.content |safe }}
                    </div>
                    <p class="share"><b>转载：</b>感谢您对原创作品以及文章的青睐，非常欢迎各位朋友分享到个人站点或者朋友圈，但转载请说明文章出处“来源Fred个人网站”。</p>
                    <a href="javascript:;"><p><span class="diggit" onclick="validate_is_like()" id="likes_number">很赞哦！({{ article.like_count }})</span></p></a>
                    <div class="nextinfo">
                        {% if pre_article %}
                            <p>上一篇：<a
                                    href="{{ url('article:article_detail', args=(pre_article.id,)) }}">{{ pre_article.title }}</a>
                            </p>
                        {% endif %}
                        {% if next_article %}
                            <p>下一篇：<a
                                    href="{{ url('article:article_detail', args=(next_article.id,)) }}">{{ next_article.title }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="whitebg">
                <h2 class="htitle">相关文章</h2>
                <ul class="otherlink">
                    {% for article in articles %}
                        <li><a href="{{ url('article:article_detail', args=(article.id,)) }}"
                               title="{{ article.title }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="whitebg gbook">
                <h2 class="htitle">文章评论</h2>
                <ul>
                    <link rel="stylesheet" href="//c.fansx.com/tc.css"/>
                    <div id="tc_s77p{{ article.id }}"></div>
                    <script src="//c.fansx.com/?m=c1&sid=77&pid={{ article.id }}"></script>
                </ul>
            </div>
        </div>
{% endblock article %}

{% block endjs %}
    <script>
        // 点赞功能主函数
        function validate_is_like() {
            var url = '/article/like/{{ article.id }}/';
            var id = {{ article.id }};
            var likes = {{ article.like_count }};
            // 取出 LocalStorage 中的数据
            let storage = window.localStorage;
            const storage_str_data = storage.getItem("my_blog_data");
            let storage_json_data = JSON.parse(storage_str_data);
            // 若数据不存在，则创建空字典
            if (!storage_json_data) {
                storage_json_data = {}
            };
            // 检查当前文章是否已点赞。是则 status = true
            const status = check_status(storage_json_data, id);
            if (status) {
                alert('已经点过赞了哟~');
                // 点过赞则立即退出函数
                return;
            } else {
                // 用 Jquery 找到点赞数量，并 +1
                var starCount = likes + 1
                $('span#likes_number').text('很赞哦！('+starCount+')');
            }
            // 用 ajax 向后端发送 post 请求
            $.post(
                url,
                // post 只是为了做 csrf 校验，因此数据为空
                {},
                function(result) {
                    if (result === 'success') {
                        // 尝试修改点赞数据
                        try {
                            storage_json_data[id] = true;
                        } catch (e) {
                            window.localStorage.clear();
                        };
                        // 将字典转换为字符串，以便存储到 LocalStorage
                        const d = JSON.stringify(storage_json_data);
                        // 尝试存储点赞数据到 LocalStorage
                        try {
                            storage.setItem("my_blog_data", d);
                        } catch (e) {
                            // code 22 错误表示 LocalStorage 空间满了
                            if (e.code === 22) {
                                window.localStorage.clear();
                                storage.setItem("my_blog_data", d);
                            }
                        };
                    } else {
                        alert("与服务器通信失败..过一会儿再试试呗~");
                    }
                }
            );
        };
        // 辅助点赞主函数，验证点赞状态
        function check_status(data, id) {
            // 尝试查询点赞状态
            try {
                if (id in data && data[id]) {
                    return true;
                } else {
                    return false;
                }
            } catch (e) {
                window.localStorage.clear();
                return false;
            };
        };
    </script>
{% endblock endjs %}