<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>详情页-Fred个人博客</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static('css/base.css') }}" rel="stylesheet">
    <link href="{{ static('css/m.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ static('js/vue-2.5.16.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/comm.js') }}"></script>
    <link rel="stylesheet" href="{{ static('md_css/github.css') }} ">
    <!--[if lt IE 9]>

<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div id="app">
    <!--top begin-->
    <header id="header">
        <div class="navbox">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <div class="logo"><a href="{{ url('index:index_list') }}">Fred个人博客</a></div>
            <nav>
                <ul id="starlist">
                    <li><a href={{ url('index:index_list') }}>首页</a></li>
                    <li class="menu" v-for="cat in cat_list"><a
                            :href="'http://127.0.0.1:8000/'+'list/' + cat.id + '/1'">[[
                        cat.name ]]</a>
                        <ul class="sub">
                            <li v-for="sub in cat.subs"><a :href="'http://127.0.0.1:8000/'+'list/' + sub.id +'/1'">[[
                                sub.name
                                ]]</a></li>
                        </ul>
                        <span></span>
                    </li>
                    <li class="menu"><a href="{{ url('photo:photos', args=(1,)) }}">相册</a>
                        <ul class="sub">
                            <li v-for="category in photo_categories"><a
                                    :href="'http://127.0.0.1:8000/'+'photos/' + category.id + '/1'">[[ category.name
                                ]]</a>
                            </li>

                        </ul>
                        <span></span></li>
                    <li><a href='{{ url('article:article', args=(1,)) }}'>所有文章</a></li>
                    <li><a href={{ url('links:list') }}>优秀个人博客</a></li>
                    <li><a href={{ url('user:about') }}>关于我</a></li>
                </ul>
            </nav>
            <div class="searchico"></div>
        </div>
    </header>
    <div class="searchbox">
        <div class="search">
            <form action="/search/" method="get" name="searchform" id="searchform">
                <input name="q" id="keyboard" class="input_text" value="请输入关键字词"
                       style="color: rgb(153, 153, 153);"
                       onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                       onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                {#                <input name="show" value="title" type="hidden">#}
                {#                <input name="tempid" value="1" type="hidden">#}
                {#                <input name="tbname" value="news" type="hidden">#}
                <input class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="searchclose"></div>
    </div>
    <!--top end-->
    <article>
        <!--lbox begin-->
        <div class="lbox">
            <div class="content_box whitebg">
                <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="{{ url('index:index_list') }}">网站首页</a>><a
                        href="{{ url('article:category_list', args=(article.category1.id,1 )) }}">{{ article.category1.name }}></a><a
                        href="{{ url('article:category_list', args=(article.category2.id, 1)) }}">{{ article.category2.name }}</a></span>个人博客模板
                </h2>
                <h1 class="con_tilte">{{ article.title }}</h1>
                <p class="bloginfo"><i class="avatar"><img
                        src="{{ article.author.avatar_url }}"></i><span>{{ article.author.username }}</span><span>{{ article.create_time }}</span><span>【<a
                        href="{{ url('article:category_list', args=(article.category2.id, 1)) }}">{{ article.category2.name }}</a>】</span><span>{{ article.read_count }}人已围观</span>
                </p>
                <p class="con_info"><b>简介</b>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。
                </p>
                <div class="con_text">
                    <div class="codehilite">
                        {{ article.content | safe }}
                    </div>
                    <p class="share"><b>转载：</b>感谢您对原创作品以及文章的青睐，非常欢迎各位朋友分享到个人站长或者朋友圈，但转载请说明文章出处“来源Fred个人博客”。</p>
                    <p><span class="diggit" onclick="like_article()">很赞哦！ ({{ article.like_count }})</span></p>
                    <div class="nextinfo">
                        {% if pre_article %}
                            <p>上一篇：<a
                                    href="{{ url('article:article_detail', args=(pre_article.id,)) }}">{{ pre_article.title }}</a>
                            </p>
                        {% endif %}
                        {% if next_article %}
                            <p>下一篇：<a
                                    href="{{ url('article:article_detail', args=(next_article.id,)) }}">{{ next_article.title }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="whitebg">
                <h2 class="htitle">相关文章</h2>
                <ul class="otherlink">
                    {% for article in articles %}
                        <li><a href="{{ url('article:article_detail', args=(article.id,)) }}"
                               title="{{ article.title }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="whitebg gbook">
                <h2 class="htitle">文章评论</h2>
                <ul>
                    <!--PC版-->
                    <div id="SOHUCS"></div>
                    <script charset="utf-8" type="text/javascript"
                            src="https://changyan.sohu.com/upload/changyan.js"></script>
                    <script type="text/javascript">
                        window.changyan.api.config({
                            appid: 'cyurPKNuR',
                            conf: 'prod_40f065b65d473b2fd62db802aa069635'
                        });
                    </script>
                </ul>
            </div>
        </div>
        <!--lbox end-->
        <div class="rbox">
            <div class="whitebg paihang">
                <h2 class="htitle">点击排行</h2>
                {#                <section class="topnews imgscale"><a href="/"><img src="images/h1.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a>#}
                {#                </section>#}
                <ul>

                    <li v-for="article in top_list"><i></i><a
                            :href="'http://127.0.0.1:8000/'+'article/detail/' + article.id">[[ article.title
                        ]]</a></li>
                </ul>
            </div>
            <div class="whitebg tuijian">
                <h2 class="htitle">站长推荐</h2>
                {#                <section class="topnews imgscale"><a href="/"><img src="images/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a>#}
                {#                </section>#}
                <ul>
                    <li v-for="article in recommend_list"><a
                            :href="'http://127.0.0.1:8000/'+'article/detail/' + article.id"><i><img
                            :src="article.index_image"></i>
                        <p>[[ article.title ]]</p>
                    </a></li>

                </ul>
            </div>
            <div class="ad whitebg imgscale">
                <ul>
                    <a href="/"><img src="images/ad.jpg"></a>
                </ul>
            </div>
            <div class="whitebg cloud">
                <h2 class="htitle">标签云</h2>
                <ul>
                    <a v-for="label in labels" :href="'http://127.0.0.1:8000/'+'list/' + label.id + '/1'"
                       target="_blank">[[
                        label.name ]]([[ label.article_count ]])</a>
                </ul>
            </div>
            <div class="ad whitebg imgscale">
                <ul>
                    <a href="/"><img src="images/ad02.jpg"></a>
                </ul>
            </div>
            <div class="whitebg tongji">
                <h2 class="htitle">站点信息</h2>
                <ul>
                    <li><b>建站时间</b>：2018-10-24</li>
                    <li><b>文章统计</b>：[[ article_count ]]</li>
                    <li><b>文章评论</b>：490条</li>
                </ul>
            </div>
        </div>
    </article>
    <footer>
        <div class="box">
            <div class="endnav">
                <p><b>站点声明：</b></p>
                <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
                <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                        href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HHh9cn95b3F1cHVye1xtbTJ-c3E"
                        target="_blank">dacesmiling@qq.com</a></p>
                <p>Copyright © <a href="http://www.yangqq.com" target="_blank">www.yangqq.com</a> All Rights Reserved.
                    备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a></p>
            </div>
        </div>
        <a href="#">
            <div class="top"></div>
        </a></footer>
</div>
<script type="text/javascript" src="{{ static('js/info.js') }}"></script>
<script>
    function like_article() {
        var url = '/article/like/{{ article.id }}';
        axios.get(url, {
            responseType: 'json',
        })
            .then(response => {
                code = response.data.code;
                if (code == '4009') {
                    alert('只能点赞一次')
                } else {
                    window.location.reload();
                }

            })
            .catch(error => {
                console.log(error.response)
            })
    }
</script>
</body>
</html>
