{% extends 'base.html' %}

{% block article %}
     <div class="whitebg">
            <h2 class="htitle"><span class="hnav">{{ soup }}</span>站长推荐</h2>
            <ul class="site_tj">
                {% for link in recommend_links %}
                    <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="whitebg">
            <h2 class="htitle"><span class="hnav"><a href="mailto:ltfred@163.com?Subject=申请友链" target="_blank">申请友链</a></span>优秀个人博客
            </h2>
            <ul class="site_tj site_yx">
                {% for link in links %}
                    <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
{% endblock article %}

{% block tabel %}
{% endblock tabel %}