{% extends 'base.html' %}

{% block link %}
    <script src="{{ static('js/page.js') }}"></script>
{% endblock link %}

{% block article %}
            <div class="lbox">
            <div class="whitebg bloglist">
                <h2 class="htitle"><span class="hnav">
      </span>所有公告</h2>
                <ul>
                    {% for notice in notices %}
                        <li>
                            <h3 class="blogtitle"><a href="{{ url('notice:notice_detail', args=(notice.id,)) }}"
                                                     target="_blank">{{ notice.title }}</a></h3>
                            <span class="blogpic imgscale"><i><a
                                    href="{{ url('notice:notice_list') }}">公告</a></i><a
                                    href="{{ url('notice:notice_detail', args=(notice.id,)) }}" title=""></a></span>
                            <p class="blogtext">{{ notice.content | safe }} </p>
                            <p class="bloginfo"><i class="avatar"><img
                                    src="{{ notice.user.avatar_url }}"></i><span>{{ notice.user.webname }}</span><span>{{ notice.create_time | time_filter}}</span><span>【<a
                                    href="{{ url('notice:notice_list') }}">公告</a>】</span>
                            </p>
                            <a href="{{ url('notice:notice_detail', args=(notice.id,)) }}" class="viewmore">阅读更多</a>
                        </li>
                    {% endfor %}
                </ul>
                <!--pagelist-->

            </div>

            <!--bloglist end-->
        </div>
{% endblock article %}