{% extends 'base.html' %}

{% block article %}
            <div class="whitebg about">
            <div><h2 class="gd_title">照片墙</h2></div>
            <ul class="xinlu">
                {% for photo in photos %}
                    <li>
                        <a href="/photo?photo_id={{ photo.id }}" target="_blank"><i><img src="{{ photo.url }}"></i>
                            <p>{{ photo.title }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
                <div id="test1" style="text-align: center; color: #666; width: 100%; clear: both; margin: 0 0 10px;"></div>
        </div>
{% endblock article %}

{% block tabel %}
{% endblock tabel %}

{% block endjs %}
    <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            laypage.render({
                elem: 'test1'
                ,limit:16
                ,theme:'#34495e'
                ,count:  {{ photo_count }}//数据总数，从服务端得到
                ,jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数
                    //首次不执行
                    if(!first){
                        //do something
                        current_page = obj.curr
                        location.href = '/photos/' + current_page
                    }
                }
            });
        });
    </script>
{% endblock endjs %}