{% extends 'base.html' %}

{% block article %}
            <div class="whitebg about">
            <div><h2 class="gd_title">照片墙</h2></div>
            <ul class="xinlu">
                {% for photo in photos %}
                    <li>
                        <a href="/photo?photo_id={{ photo.id }}" target="_blank"><i><img src="{{ photo.url }}"></i>
                            <p>{{ photo.title }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagelist">
                <a href="javascript:;" onclick="pretpage()">上一页</a>
                <a title="Total record">&nbsp;<b>共{{ total_page }}页</b></a>&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" onclick="nextpage()">下一页</a>&nbsp;
            </div>
        </div>
{% endblock article %}

{% block tabel %}
{% endblock tabel %}

{% block endjs %}
    <script>
    function nextpage() {
        var curpage = {{ page_num }} + 1;
        var total_page = {{ total_page }};
        if(curpage > total_page){
            alert('已经是最后一页了')
        }
        else{
            location.href = '/photos/' + curpage + '/';
        }

    }

    function pretpage() {
        var curpage = {{ page_num }} - 1;
        var total_page = {{ total_page }};
        if(curpage == 0){
            alert('前面没有了')
        }
        else{
            location.href = '/photos/' + curpage + '/';
        }
    }
</script>
{% endblock endjs %}