{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ static('css/myPagination.css') }}">
<script src="{{ static('js/myPagination.js') }}"></script>
<script src="{{ static('js/page.js') }}"></script>
{% endblock link %}

{% block article %}
    <div class="whitebg timebox">
            <h2 class="htitle">文章归档</h2>
            <ul id="list">
                {% for article in page_articles %}
                    <li><span>{{ article.create_time | date_time}}</span><i><a href="/article/detail/{{ article.id }}" target="_blank">{{ article.title }}</a></i>
                    </li>
                {% endfor %}
            </ul>
            <!--pagelist-->
            <br><br>
            <div id="pagination" class="pagination" style="margin:0 auto;text-align: center"></div>
        </div>
{% endblock article %}

{% block tabel %}
{% endblock tabel %}

{% block endjs %}
    <script>
    window.onload = function () {
        new myPagination({
            id: 'pagination',
            curPage: {{ page_num }}, //初始页码
            pageTotal: {{ total_page }}, //总页数
            pageAmount: 12,  //每页多少条
            dataTotal: {{ all_counts }}, //总共多少条数据
            pageSize: 3, //可选,分页个数
            showPageTotalFlag: true, //是否显示数据统计
            showSkipInputFlag: true, //是否支持跳转
            getPage: function (page) {
                //获取当前页数
                {#console.log(page);#}
                // 点击之后跳转:
                location.href = '/articles/' + page + '/';
            }
        })

    }
</script>
{% endblock endjs %}